#!/usr/bin/env ruby
# -*- coding: utf-8 -*-

require 'compass'

Compass.add_project_configuration 'config.rb'
sass_options = Compass.sass_engine_options

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

preprocess do
  config[:git_url] = config[:gl_user] + "@" + config[:gl_host]
end

compile '/assets/*' do
  #don't filter
end

compile '/stylesheets/_*/' do
  # don’t filter or layout
end

compile '/stylesheets/partials/*' do
  # don’t filter or layout
end

compile '/stylesheets/base/*' do
  # don’t filter or layout
end

compile '/stylesheets/custom/*' do
  # don’t filter or layout
end

compile '/stylesheets/*/' do
  filter :sass, sass_options.merge(:syntax => :scss)
  filter :relativize_paths, :type => :css
end

compile '*' do
  if item.binary?
    # don’t filter binary items
  else 
    case item[:extension]
      when 'md'
        filter :kramdown, :fenced_code_blocks => true, :enable_coderay => false
        filter :colorize_syntax, :default_colorizer => :pygmentsrb
      when 'haml' 
        filter :haml
      when 'org'
        filter :erb
	filter :orgmode
      when 'slim'
        filter :slim
    end
    case item[:kind]
    when 'activity'
      layout 'activity'
    else
      layout 'default'
    end
  end
end

route '/stylesheet/' do
  '/style.css'
end

route '/stylesheets/_*' do
  nil
end

route '/stylesheets/partials/*' do
  nil
end

route '/stylesheets/base/*' do
  nil
end

route '/stylesheets/custom/*' do
  nil
end


route '/syndicated/*/' do
  nil
end

route '/stylesheets/*' do
  item.identifier.chop + '.css'
end

route '/assets/*/' do
  item.identifier.chop
end

route '*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

layout 'activity', :slim
layout '*', :haml
