---
title: Unix for Engineers
---

:markdown
  # Recent Posts
  
- sorted_syndicates[0..25].each do |post|
  %article
    %header
      %h1
        = link_to(post[:title], post[:entry_url])
      %p.author
        On
        %time{:pubtime => true, :datetime => get_pub_datetime(post)}
          = get_pretty_date(post)
        = link_to(post[:author_name], post[:author_uri])
        wrote:

    = get_post_start(post)
