---
title: Unix for Engineers
---

:markdown 
  # Announcements 

  ## Troubleshooting Session

  *Friday, August 30 10-11am, Surge 104A*: We will hold an optional troubleshooting session to help resolve installation issues.

:markdown
  # Recent Posts
  
- sorted_syndicates.each do |post|
  %article
    %header
      %h1
        = link_to(post[:title], post[:entry_url])
      %p.author
        On
        %time{:pubtime => true, :datetime => get_pub_datetime(post)}
          = get_pretty_date(post)
        = link_to(post[:author_name], post[:author_uri])
        wrote:

    = get_post_start(post)
