## Usage
{{#usage}}

- {{#readme}}The README contained everything I needed to easily use the program: {{> layouts/reviews/score}}{{/readme}}
- {{#run}}The program compiles/runs without errors: {{> layouts/reviews/score}}{{/run}}
- {{#worked}}The program worked as advertised: {{> layouts/reviews/score}}{{/worked}}

{{/usage}}

## Style
{{#style}}
- {{#modules}}The code is cleaning divided into modules and multiple files: {{> layouts/reviews/score}}{{/modules}}
- {{#names}}Variable and function names are meaningful: {{> layouts/reviews/score}}{{/names}}
- {{#comments}}Comments are used where appropriate: {{> layouts/reviews/score}}{{/comments}}
{{/style}}

## Philosophy
{{#philosophy}}
- {{#ui_pattern}}The program most closely follows the `{{matches}}` interface pattern: {{> layouts/reviews/score}}{{/ui_pattern}}
- {{#ui_choice}}This choice of pattern is a good one for this application: {{>layouts/reviews/score}}{{/ui_choice}}
- {{#silence_surprise}}This program follows the Rule of Silence and Least Surprise: {{>layouts/reviews/score}}{{/silence_surprise}}
- {{#modularity_composition}}This program follows the Rules of Modularity and Composition: {{>layouts/reviews/score}}{{/modularity_composition}}
- {{#representation_simplicity}}This program follows the Rules of Representation and Simplicity: {{> layouts/reviews/score}}{{/representation_simplicity}}
{{/philosophy}}

{{#overview?}}
## Overview

{{overview?}}
{{/overview?}}

{{#bugs?}}
## Bugs

{{bugs?}}
{{/bugs?}}
