@font-face {
    font-family: "League";
    src: url('/assets/font/LeagueGothic.otf');
}

$blockquote: $type-border !default;
$sans: "Lato", sans-serif;
$serif: "Lato", sans-serif;
$mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;
$heading-font-family: 'Lato', sans-serif;
$header-title-font-family: "League", Helvetica, Arial, sans-serif;
$header-subtitle-font-family: $heading-font-family !default;

.heading {
    font-family: $heading-font-family;
}

.sans { font-family: $sans; }
.serif { font-family: $serif; }
.mono { font-family: $mono; }

header,h1,h2,h3,h4,h5 {
    font-family: $heading-font-family;
}

footer {
    @include adjust-font-size-to($base-font-size * 0.75, 0.75);
    font-family: $heading-font-family;
    @include leader;
}

h1 {
    @include adjust-font-size-to($base-font-size * 2.25);
}

h2 {
    @include adjust-font-size-to($base-font-size * 2);
}

h3 {
    @include adjust-font-size-to($base-font-size * 1.75);
}

h4 {
    @include adjust-font-size-to($base-font-size * 1.5);
}

h5 {
    @include adjust-font-size-to($base-font-size * 1.25);
}

main {
    header {
        @include trailer(1);
    }
}

article {
    header {
        font-family: $heading-font-family;
        span {
            margin-right: 5pt;
        }
    }
    p {
        @include trailer;
    }
}

main {
    h1 {
        @include adjust-font-size-to($base-font-size * 3, $lines:2);
    }
    h1 {
        @include adjust-font-size-to($base-font-size * 2.5);
    }
    article, section {
        @include trailer;
    }

    section,article {
        h1 {
            @include adjust-font-size-to($base-font-size * 2.25);
        }
        h2 {
            @include adjust-font-size-to($base-font-size * 2);
        }
        section,article {
            h1 {
                @include adjust-font-size-to($base-font-size * 1.75);
            }
            section,article {
                h1 {
                    @include adjust-font-size-to($base-font-size * 1.5);
                }
                h2 {
                    @include adjust-font-size-to($base-font-size * 1.25);
                }
            }
        }
    }
}



ul { list-style-type: disc;
     ul { list-style-type: circle; margin-bottom: 0px;
          ul { list-style-type: square; margin-bottom: 0px; }}}

ol, ul {
    @include trailer;
}

ol { list-style-type: decimal;
     ol { list-style-type: lower-alpha; margin-bottom: 0px;
          ol { list-style-type: lower-roman; margin-bottom: 0px; }}}

ul, ol { &, ul, ol { margin-left: 1.3em; }}

ol.article_list {
    @include no-bullets;
    & { margin-left: 0; }
}

strong,b { font-weight: bold; }

em { font-style: italic; }

sup, sub { font-size: 0.8em; position: relative;  display: inline-block; }
sup { top: -.5em; }
sub { bottom: -.5em; }

q { font-style: italic;
    &:before { content: "\201C"; }
    &:after { content: "\201D"; }
  }

em, dfn { font-style: italic; }

strong, dfn { font-weight: bold; }

del, s { text-decoration: line-through; }

abbr, acronym { border-bottom: 1px dotted; cursor: help; }

pre, code, tt { @extend .mono; }

sub, sup { line-height: 0; }

pre {
    @include adjust-font-size-to($base-font-size * .9, 4/5);
    @include leader;
    @include trailer;
    @include leading-border(0px, .5);
    @include trailing-border(0px, .5);
    padding-left: $gutter-width;
    padding-right: $gutter-width;
    overflow: auto;
}

blockquote {
    @include leader;
    @include trailer;
    font-style: italic;

    padding-left: 1em;
    padding-right: 1em;

    //quotes:"\201C""\201D""\2018""\2019";
    quotes:"\201C""\201D";
    &:before {
        content:open-quote;
        font-size:4em;
        line-height:.1em;
        margin-right:.25em;
        vertical-align:-.4em;
    }
    
    p:first-of-type {
        display: inline;
    }

    p:nth-of-type(2) {
        @include leader;
    }

    em {
        font-style: normal;
        font-weight: bold;
    }

    cite {
        font-size: em(14px);
        display: block;
        margin-top: em(5px);
        &:before {
            content: "\2014 \2009";
        }
    }
}
